.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 70px;
  margin-left: 310px;
  width: 78vw;
}

h1 {
  margin-bottom: 30px;
}

.overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.overview-item {
  background-color: #f0f0f0;
  padding: 20px;
  width: 23%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.overview-item h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.admin-functions ul {
  list-style-type: none;
  padding: 0;
}

.admin-functions ul li {
  margin-bottom: 10px;
}

.admin-functions ul li a {
  text-decoration: none;
  color: #007bff;
}

.admin-functions ul li a:hover {
  text-decoration: underline;
}

.effect {
  text-decoration: none;
  color: #0015f0;
}
.effect:hover {
  color: red; 
  text-decoration: none; 
}
