* {
    margin: 0;
    padding: 0;
}

.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 40px;
   
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 60% !important; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.close-btn {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.form-register {
    width: 500px;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 25px;
    background-color: #FFFFFF;
}

